extends layout

block content 
    div(class="ui message attached " + background_color  style="height:50px") Greatest Hits
    div(class="ui attached segment")
      div(class="albums-grid")
        each album in albums
          div(class="album-card")
            img(src=album.image_url alt=album.title)
            div(class="header album-title")=album.title
            div(class="meta meta-info")=album.artist
            div(class="meta meta-info")=`$${album.price}`
      

  

